.register-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    width: 40%;
    height: 40%;
    margin-left: 40px;
}

.register-container .content {
    width: 100%;
    padding: 96px;
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register-container .content section {
    width: 100%;
    max-width: 400px;
}

.register-container .content section h1 {
    margin: 64px 0 32px;
    font-size: 28px;
    color: #41414d;
}

.register-container .content section p {
    font-size: 18px;
    color: #737380;
    line-height: 32px;
    text-align: left;
}
.register-container .content form {
    width: 100%;
    max-width: 400px;
}

.register-container .content form input, select {
    margin-top: 8px;
}

.register-container .content form .input-group {
    display: flex;
}

.register-container .content form .input-group input + input {
    margin-left: 8px;   
}

.checkboxs {
    display: flex;
}

.checkboxs p, h3 {
    font: 10pt 'Roboto';
    color: #41414d;
    margin-top: 10px;
}

.checkboxs input {
    width: 2rem;
    height: 1rem;
}


.accords {
    display: flex;
}

.accords input {
    width: 2rem;
    height: 1rem;
    margin-left: 5px;
}

.accords p {
    font-size: 10pt; 
}

.checkboxs .term {
    font: 10pt 'Roboto';
    color: #41414d;
    margin-top: 10px;
    text-align: left;
}

.social-midia {
    margin-bottom: 20px;
}

p {
    font-size: 20pt;
    color: #41414d;
    margin-bottom: 20px;
    text-align: center;
}

.IconGoogle {
    margin-right: .8rem;
    width: 30px;
    height: 30px;
    background-color: #fff;

}

.gmail {
    width: 100%;
    height: 60px;
    background: #dd3636;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-weight: 700px;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;
}

.gmail:hover {
    filter: brightness(90%);
}