#page-lading {
    font-family: 'Nunito', sans-serif;
    width: 90vw;
    height: 85vh;
    display: flex;
    margin: 2rem 5rem;
    color: #C2C2C2, #F29D35, #6920B0;
}

.container strong {
    justify-content: center;
    align-items: center;
    font-style: normal;
    color: #C2C2C2;
    margin-top: 5rem;
    font-size: 30pt;
}

.container h3 {
    color: #41414D;
    font-style: normal;
    font-size: 14pt;
    margin-top: 3.4rem;
}

.container h4 {
    margin: 2rem 5rem;
    justify-content: center;
    align-items: center;
    color: #41414D;
    font-style: normal;
    margin-top: 5rem;
    font-size: 15pt;
}

.container .logo-container {
    margin-bottom: 10rem;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin: 3.2rem 0;
}

.buttons-container a {
    width: 20rem;
    height: 4rem;
    border-radius: 0.8rem;
    font-family: 'Roboto';
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    margin-top: 6rem;
}

.buttons-container a:first-child {
    margin-right: 1.6rem;
}


.buttons-container a.project {
    border: 1px solid #6920B0;
    background-color: #6920B0;
    border-radius: 3px;
    font-size: 18pt;

}

.buttons-container a.get-started {
    background: #F29D35;
    border: 1px solid #F29D35;
    border-radius: 3px;
    font-size: 18pt;
}


.page-lading-content nav {
    position: relative;
    float: right;
    margin-right: 8rem;
}

.page-lading-content ul {
    display: inline;
}

.page-lading-content li {
    padding: 10px;
    text-transform: uppercase;
    list-style: none;
    display: inline;
}

.page-lading-content .link-register {
    background-color: #F29D35;
    border: 1px solid #F29D35;
    border-radius: 3px;
}

.page-lading-content a {
    padding: 10px;
    text-decoration: none;
    color: #C2C2C2;
}

.page-lading-content .link-register a {
    color: #fff;
}

.page-lading-content a:hover {
    color: #6920B0;
}

.lading-image {
    position: relative;
    width: 850px;
    height: 700px;
}

@media (min-width: 1100px) {
    #page-lading {
        max-width: 1100px;
        display: grid;
        grid-auto-rows: 350px 1px;
        grid-template-columns: 2fr 1fr 1fr;
    }
}
    .logo-container {
        grid-area: logo;
        align-self: center;
        margin: 0;
    }


    .logo-container img {
        height: 100%;
        align-self: center;
        margin: 0;
    }

    .lading-image {
        grid-area: hero;
        justify-self: end;
    }

    .buttons-container {
        grid-area:  buttons;
        justify-content: flex-start
    }

    .buttons-container a {
        font-size: 2.4rem;
    }



