.task-container {
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 28px auto;
}

.task-card {
    position: relative;
    list-style: none;
    background: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    width: 600px;
    height: auto;
    border-radius: 10px;
    border: 1px solid #1111132a;
    margin-top: 2.5rem;
}
.task-card-header {
    display: block;
    padding: 24px;
    border-radius: 8px;
    position: relative;
    justify-content: space-between;
}


.task-card-header label{
    padding: auto;
    margin: 2.5rem 2rem;

}

.task-card-header h2 {
    color: #41414d;
}

.task-detail {
    margin-top: 1.5rem;
}

.create-task {
    position: absolute;
    right: 40px;
    bottom: 40px;

    z-index: 10;

    width: 64px;
    height: 64px;
    background: #F29D35;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 0.2s;
}

.create-task:hover {
    background: rgb(236, 144, 32);
}
