.menu-container {
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
    margin-top: 2px;
}

.menu-container header {
    display: flex;
    align-items: center;
}

.menu-container header span {
    font-size: 20px;
    margin-left: 24px;
    color: #41414d;
}

.menu-container header a {
    width: 260px;
    margin-left: auto;
    margin-top: 0;
}

.menu-container-body {
    display: flex;
    justify-items: space-between; 
}

.menu {
    margin-left: auto;
    margin-top: 0;
}

header .menu .menu-item{
    margin-left: 1.5rem;
}

.profile-container header .menu-item{
    margin-left: 1.5rem;
}


.profile-option  ul{
    list-style: none;
    height: auto;
}

.profile-option ul li {
    display: flex;
    border-radius: 8px;
    position: relative; 
    align-items: center;
}


.profile-option  ul li a{
    padding: 0.5rem;
    text-decoration: none;
    color: #737380;
    font-size: 12pt;
    width: 15rem;
}

.profile-option  ul li a:active {
    background: #73738038;
    color: #F29D35;
    border-right: 5px solid #F29D35;
    height: 2.5rem;
    box-shadow: 3px 3px 3px #8888881a;
    
}

.profile-container strong {
    display: block;
    margin-bottom: 16px;
    color: #41414d;
}