.page-howItWorks {
   
}

.page-howItWorks-section h1 {
    font: 700 28px 'Nunito' sans-serif;
    margin-top: 2rem;
    margin-left: 2.4rem;
    color: #41414d;
}

.work {
    display: flex;
    align-content: center;
    color: #41414d;
    margin-left: 2.4rem;
}

.work p {
    color: #41414d;  
    text-align: justify;
    text-justify: inter-word;
}

.work .first {
    width: 50%;
    height: 50%;
    margin-left: 0;
}
.work .first .first-button{
    padding: 10px;
    text-decoration: none;
    font-size: 14px;
    color: #FFF;
    background-color: #6920B0;
    border: 1px solid #6920B0;
    border-radius: 3px;
    margin-top: 18px;
}

.work .first .first-button:hover {
    filter: brightness(90%);
}

.work .first h2{
    font: 700 78px 'Nunito', sans-serif;
    color: #c2c2c2;
    margin-top: 5rem;
}

.work .second {
    height: 50%;
    width: 50%;
}

.work .second img {
    width: 85%;
    height: 85%;
    box-shadow: 00 0 100px rgba(0, 0, 0, 0.219);
}

.service {
    display: flex;
    align-content: center;
    background-color: #FFF;
    background-color: rgb(70, 10, 129);
    color: #FFF;
    height: 30%;
}

.service p {
    color: #FFF;
    margin-left: 2.4rem;  
    text-align: justify;
    text-justify: inter-word;
}

.service .first h2{
    font: 700 48px 'Nunito', sans-serif;
    color: #FFF;
    margin-top: 5rem;
    margin-left: 2.4rem;
}

.service .first {
    height: 50%;
    width: 50%;
}

.service .second {
    height: 50%;
    width: 50%;
}

.service .second img {
    width: 85%;
    height: 85%;
   
}

.payment {
    display: flex;
    align-content: center;
    background-color: #FFF;
    color: #41414d;
}
.payment .first {
    height: 50%;
    width: 50%;
}

.payment .first img {
    width: 85%;
    height: 85%;
    background: #fff;
    box-shadow: 00 0 100px rgba(0, 0, 0, 0.219);
}

.payment .second {
    height: 50%;
    width: 50%;
}

.payment .second h2{
    font: 700 48px 'Nunito', sans-serif;
    color: #C2C2C2;
    margin-top: 5rem;
    margin-left: 2.4rem;
}
