.task-menu {
    margin: -15rem 15rem; 
 }

.button-add {
    background: none;
    border: 0;
    color: #41414d;
    font-size: 14pt;
    cursor: pointer;
    transition: color 0.2s;
    float: right;
    align-items: right;
    list-style: none;
    text-decoration: none;
    margin: 2.3rem 0rem;
}