.profile-container {
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
    margin-top: 2px;
}

.profile-container header {
    display: flex;
    align-items: center;
}

.profile-container header span {
    font-size: 20px;
    margin-left: 24px;
    color: #41414d;
}

.profile-container header a {
    width: 260px;
    margin-left: auto;
    margin-top: 0;
}

.menu {
    margin-left: auto;
    margin-top: 0;
}

.profile-container header .menu-item{
    margin-left: 1.5rem;
}

.profile-container h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 24px;
    color: #41414d;
}

.profile-container ul {
    display: block;
    height: auto;
    list-style: none;
}

.profile-container ul li {
    display: flex;
    border-radius: 8px;
    position: relative; 
    align-items: center;
}

.profile-container .profile-container-body {
    display: flex;
}